.collapsible {
  background-color: #5DADE2;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 5px;
  padding-left: 50px;
  width: 1080px;
  height: 150;
  border: none;
  outline: none;
  font-size: 18px;
  margin-bottom: 20px;
}






strong {
  font-size: 18px;
  font-family: 'Indie Flower', cursive;
}

.collapsible-body {
  font-family: 'Indie Flower', cursive;
  padding: 0 10px;
  width: 1080px;
  height: 150px;
  display: none;
  overflow: hidden;
  background-color: #17A589;
}

.header {
  font-family: 'Indie Flower', cursive;
  font-family: 'Modak', cursive;
  color: #1E8449;
  
}

.name {
  font-family: 'Indie Flower', cursive;
  color: #000;
  padding-left: 30px;
  
  
  
}

.jumbotron {
  
  font-family: 'Baloo Bhai', cursive;
}

.brand-logo {
  font-family: 'Modak', cursive;
  color: #1E8449;
}

.add {
  padding-top: 30px;
}

.jumbotron {
  padding-top: 20px;
}

.center-block {
  padding-bottom: 20px;
}

.support {
  font-family: 'Modak', cursive;
}

.btn {
  background-color: red;
}

input[type=text], input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}



span.psw {
  float: right;
  padding-top: 16px;
}

.register {
  color: white;
  font-size: 20px;
}


