.collapsible {
  display: inline-block;
  background-color: #839192;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 550px;
  height: 150px;
  border: groove;
  text-align: center;
  outline: none;
  font-size: 15px;
}

strong {
  font-size: 18px;
  font-family: 'Indie Flower', cursive;
}

.collapsible-body {
  font-family: 'Indie Flower', cursive;
  padding: 0 10px;
  display: none;
  overflow: hidden;
  background-color: #17A589;
}

.header {
  font-family: 'Indie Flower', cursive;
  font-family: 'Modak', cursive;
  color: #1E8449;
  
}

.name {
  font-family: 'Indie Flower', cursive;
  color: #000;
  padding-left: 30px;
  
  
  
}

.jumbotron {
  color: #1E8449;
  font-family: 'Baloo Bhai', cursive;
}

.brand-logo {
  font-family: 'Modak', cursive;
  color: #1E8449;
}

.add {
  padding-top: 30px;
}
