.collapsible {
  background-color: #FBFCFC;
  text-align: center;
  color: #000;
  cursor: pointer;
  padding: 5px;
  padding-left: 50px;
  width: 100%;
  height: 150;
  border: none;
  outline: none;
  font-size: 18px;
  margin-bottom: 20px;
}

.collapsible2 {
  background-color: #5DADE2;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 5px;
  padding-left: 50px;
  width: 50%;
  height: 150;
  border: none;
  outline: none;
  font-size: 18px;
  margin-bottom: 20px;
}

strong {
  font-size: 18px;
  font-family: 'Indie Flower', cursive;
}

.collapsible-body {
  font-family: 'Indie Flower', cursive;
  padding: 0 10px;
  padding-bottom: 20px;
  width: 100%;
  height: 150px;
  display: none;
  overflow: hidden;
  background-color: #E57373;
}

.header {
  font-family: 'Indie Flower', cursive;
  font-family: 'Modak', cursive;
  color: #1E8449;
  
}



.menu {
  padding-right: 10;
  font-size: 20px;
  font-family: 'Modak', cursive;
}

.name {
  font-family: 'Indie Flower', cursive;
  color: #000;
  padding-left: 30px;
  
}

.jumbotron {
  
  font-family: 'Baloo Bhai', cursive;
}

.brand-logo {
  position: fixed;
  font-family: 'Modak', cursive;
  color: #1E8449;
}

.add {
  padding-top: 30px;
}

.jumbotron {
  padding-top: 20px;
}

.center-block {
  padding-bottom: 20px;
}

.support {
  font-family: 'Modak', cursive;
}


input[type=text], input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}



span.psw {
  float: right;
  padding-top: 16px;
}

.register {
  color: white;
  font-size: 20px;
}

img {
  text-align: center;
}

section {
  padding-bottom: 40px;
}

i {
  color: #2C3E50;
}

.navbar {
  color: #1ABC9C;
}

.fb-like {
  margin-top: 10px;
  color: #fafafa;
}
