{% extends 'base.html' %}
{% block content %}



 <div class="pencil">
            <img src="{{url_for('static',filename='img/about.png')}}" width="100%" height="50%">
        </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-uppercase">What does it do?</h2>
                    <div class="support"><span><p>Student Scribble was designed to help students manage and organises their tasks, including but not limited to, <strong>Homework</strong>, <strong>Projects</strong>,
                    <strong>Presentations.</strong</p></span></div>
                    <h2 class="text-uppercase">How does it work?</h2>
                    <p>Students can create an account and add their subjects and then add notes for each subject.
                    They will be able to edit and delete notes as they go and edit and delete subjects.</p>
                </div>
            </div>
        
        
{% endblock %}        
