{% extends 'base.html' %}
{% block content %}

<h1 class="support">About</h1>

 <div class="pencil">
            <img src="{{url_for('static',filename='img/notpad-pencil.jpg')}}" width="100%" height="50%">
        </div>
            
            <div class="row">
                <div class="col-xs-12">

                    <div class="support"><span><p>Habitat for Humanity Ireland was founded in 2002.
	                    It is a non-profit organisation, working on behalf of and in partnership with other Habitat for Humanity offices throughout the world. Habitat Ireland has key partnerships with 
	                    various countries including India, Zambia, Romania, Cambodia and of course Malawi. Habitat is also working in Ireland to provide affordable homes for families in need. They focus upon helping local people and those across the world. This local- global link is something that I find impressive and admirable. 
	                    They are dedicated to eliminating 
	                    substandard housing worldwide and to making adequate, affordable shelter a matter of conscience and action.
	                    Habitat are engaged in sustainable development which gives families a hand up, not a hand out. The families 
	                    receiving homes, often build alongside Habitat volunteers so that they are engaged with the process.  Habitat educates Malawian families on topics such as HIV and Malaria prevention. Additionally, Habitat provide training on will writing which is hugely important in 
	                    Malawi as women don’t have property rights and are often the most vulnerable in their community. </p></span></div>
                    <h2 class="text-uppercase">What they do?</h2>
                    <p class="vision"><strong>Their vision:</strong> A world where everyone has a decent place to live.</p>
                    <p class="vision"><strong>Their mission:</strong> Habitat for Humanity brings people together to build strength, stability and self-reliance through shelter.</p>
                </div>
            </div>
        
        
{% endblock %}        
