<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
     <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" type="text/css" />
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <style>
body  {
  background-color: #F7F9F9;
}
</style>
    <title>Student Scribble</title>
</head>
<body>
  

  
        <nav>
    <div class="container nav-wrapper">
      <a href="{{url_for('get_notes')}}" class="brand-logo center"><i class="material-icons">
create
</i>Student Scribble</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="{{url_for('get_notes')}}">Home</a></li>
        <li><a href="{{url_for('add_note')}}">Add Notes</a></li>
         <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Subject</a>
           <ul id='dropdown1' class='dropdown-content'>
    <li><a href="{{url_for('new_subject')}}">Add Subject</a></li>
    <li><a href="{{url_for('get_subjects')}}">Manage Subjects</a></li>
       
        
      </ul>
    </div>
  </nav>
  
  <nav> <!-- navbar content here  --> </nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="{{url_for('static', filename='img/ocean.jpg')}}">
      </div>
      <a href="#user"><img class="circle" src="{{url_for('static', filename='img/me.png')}}"></a>
      <a href="#name"><span class="white-text name">Nathan Duggan</span></a>
      <a href="#email"><span class="white-text email">Nathan.duggan0@gmail.com</span></a>
    </div></li>
    <li><a href="{{url_for('about')}}"><i class="material-icons">info</i>About</a></li>
    <li><a href="{{url_for('support')}}">Support</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  

  
 
   <div class="container">
  {% block content %} {% endblock %}

    <!-- Page Content -->
  




</body>

</html>
     
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/grayscale.min.js') }}"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
       $(document).ready(function(){
    $('.parallax').parallax();
  });
  
    $(document).ready(function(){
    $('.collapsible').collapsible();
  });
    $(document).ready(function(){
    $('select').formSelect();
  });
  
  
    $(document).ready(function(){
    $('.datepicker').datepicker();
  });
  
   $(document).ready(function(){
    $('.parallax').parallax();
  });
  
   $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  
  
    $('.dropdown-trigger').dropdown();
  
  
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
       
    </script>

