<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
     <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" type="text/css" />
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <style>
body  {
  background-image: url({{ url_for('static', filename='img/background.jpg') }})
  
}
</style>
    <title>Student Scribble</title>
</head>
<body>

  <nav>
     <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="{{url_for('static', filename='img/noteback.png')}}">
      </div>
      <a href="#user"><img class="circle" src="{{url_for('static', filename='img/profile2.png')}}"></a>
      <a href="#name"><span class="black-text name">Full Name</span></a>
      <a href="#email"><span class="black-text email">Example@email.com</span></a>
    </div></li>
    <li><a href="{{url_for('get_notes')}}"><i class="material-icons">home</i>Home</a></li>
    <li><a href="{{url_for('add_note')}}"><i class="material-icons">note_add</i>Add Note</a></li>
    <li><a href="{{url_for('get_subjects')}}"><i class="material-icons">subject</i>Manage Subjects</a></li>
    <li><div class="divider"></div></li>
    <li><a href="{{url_for('about')}}"><i class="material-icons">info</i>About</a></li>
    <li><a href="{{url_for('support')}}"><i class="material-icons">local_library</i>Support</a></li>
    <li><a href="{{url_for('get_login')}}"><i class="material-icons">assignment_ind</i>Login</a></li>
  </ul>

  

  
  <!-- Dropdown Structure -->
  
<ul id="dropdown1" class="dropdown-content">
  <li><a href="{{url_for('new_subject')}}">Add Subjects</a></li>
  <li><a href="{{url_for('get_subjects')}}">Manage Subjects</a></li>
  <li class="divider"></li>
</ul>

  <div class="container navbar">
    
    
    <a href="{{url_for('get_notes')}}" class="brand-logo"><i class="material-icons right">create</i>Student Scribble</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{url_for('get_notes')}}">Home</a></li>
      <li><a href="{{url_for('add_note')}}">Add Note</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Subjects<i class="material-icons right">arrow_drop_down</i></a></li>
       
       
    </ul>
  </div>
</nav>
  <div class="fb-like" data-href="https://github.com/Nathanduggan/myhabitatjourney" data-width="" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>


    
  </ul>
    <div class="container nav">
 <p class="menu">Menu<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">control_point</i></a></p>

 </div>

 

 
  
 
   <div class="bg2 container">
  {% block content %} {% endblock %}

    <!-- Page Content -->
  




</body>

</html>
     
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/grayscale.min.js') }}"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
    
       $(document).ready(function(){
    $('.parallax').parallax();
  });
  
    $(document).ready(function(){
    $('.collapsible').collapsible();
  });
    $(document).ready(function(){
    $('select').formSelect();
  });
  
  
    $(document).ready(function(){
    $('.datepicker').datepicker();
  });
  
   $(document).ready(function(){
    $('.parallax').parallax();
  });
  
   $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  
  
    $('.dropdown-trigger').dropdown();
  
  
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
       
    </script>
    
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0"></script>

