

<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
  </head>
  <body>
<style>
  body, html {
  height: 100%;
  margin-top: 0;
}

.bg {
  /* The image used */
  background-image: url("static/img/login5.jpg");
  text-align: center;
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg h1 {
  color: white;
}

</style>


   
    <div class="bg container">
      
      
      <h1>Login</h1>
      <br>
      <div class="row">
        <div class="col s12">
      <form action="{{url_for('select_user')}}" method="POST">
      <div class="container">
    <label for="uname"><b></b></label>
    <input type="text" placeholder="Enter Username" name="username" required><br>

    <label for="psw"><b></b></label>
    <input type="password" placeholder="Enter Password" name="password" required><br>
        
    <button type="submit">Login</button>
      </form>
      
    
      
          
    

  
      </form>
      <p class="register">Don't have an account? Register <a href="{{url_for('new_user')}}">here</a></p>
     
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    </div>
    </div>
    </div>

  </body>
</html>

