{% extends 'base.html' %} {% block content %}

<div>
    <img src="{{url_for('static',filename='img/subjects2.png')}}" width="100%" height="30%">
    
    <h3 class="support">Subjects</h3>

</nav>

<ul class=" collapsible">
    {% for subject in subjects %}
    <li>
        <div class=" collapsible-header">

            <div class="col s3">
                <i class="material-icons">note</i>
                <a href="{{url_for('delete_subject', subject_id =subject._id)}}" class="waves-effect waves-light btn-small"><i class="material-icons right">delete</i>del</a>
                <a href="{{url_for('edit_subject', subject_id =subject._id)}}" class="waves-effect waves-light btn-small blue"><i class="material-icons right">edit</i>Edit</a>


            </div>
            <div class="name col 9">
                <strong>{{subject.subject_name}}</strong> 
            </div>
            
            

    {% endfor %}
    
    </ul>
    
    <div class="add row">
    <a href="{{url_for('new_subject')}}" class="waves-effect waves-light btn">
        <i class="material-icons right">playlist_add</i>Add Subject</a>
    
</div>








{% endblock %}
